doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

  div(class='w-full h-screen bg-cyan-700')
        div(class='w-auto min-h-screen mx-1')
          div(class='grid grid-cols-8 grid-rows-10 gap-1 w-auto min-h-screen mx-1 py-2')
            div(class='col-start-2 col-span-7  bg-white p-4')
              p nav
            div(class='col-start-1 row-start-1 row-span-10 bg-gray-100 p-4')
              p sidebar
              ul
                li
                  a(href="/") home
                li 
                  a(href="/inventory/items") item list
                
                li 
                  a(href="/inventory/items/add") add item
            div(class='row-start-2 col-start-2 col-span-7 row-span-9 bg-gray-200 p-4')
              block content